
/*
=============== 
Clothes Grid
===============
*/

.clothes-container {
    /* width: calc(85vw - 3.5rem); */
    padding: 1rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.item-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 480px;
    width: 400px;
    background-color: #e4feff;
    -webkit-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.79);
    border-radius: 8px;
    gap: 8px;
}

select {
    text-transform: uppercase;

}

.price-and-material {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 400px;
    gap: 8px;
    margin-top: 16px;
    text-transform: capitalize;
}

.black-line {
    width: 400px;
    height: 1px;
    background-color: rgb(91, 91, 91);
    margin-top: 8px;
}

.clothes-img {
    height: 250px;
    width: 250px;
    background-color: rgb(255, 254, 254);
    padding: 8px;
    border-radius: 32px;
    border: 1px solid rgb(171, 171, 171);
}

.add-to-cart-container {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 20px;
}

.add-to-cart-container:hover {
    background-color: rgba(34, 236, 61, 0.43);
}

.add-to-cart-container:active {
    background-color: rgb(34, 236, 61);
}

.add-to-cart {
    height: 30px;
    width: 30px;
}

.add-to-cart:hover {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

/*
=============== 
Color Picker
===============
*/

.color-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid rgb(171, 171, 171);
    padding: 8px 20px 8px 20px;
    gap: 4px;
    background-color: rgb(255, 255, 255);
}

.color-picker-btn {
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

.color-picker-btn:hover {
    cursor: pointer;
}

/* 
===============
Cart
===============
*/

.cart {
    min-height: 66px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-section {
    display: flex;
    flex-direction: column;
    top: calc(250px + 2rem);
    text-transform: capitalize;
}

.slider {
    position: fixed;
    overflow-y: scroll;
    top: calc(250px + 2rem);
    bottom: 16px;
    scrollbar-width: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.items-and-price {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 62px;
}

.cart-item {
    display: flex;
    flex-direction: column;
}

.black-line-price {
    width: auto;
    height: 1px;
    background-color: rgb(91, 91, 91);
    margin-top: 8px;
}

.change-amount {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

