/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --border-color: rgb(171, 171, 171);
    --myOrange: rgb(213, 67, 48);
}


/*
=============== 
Global Styles
===============
*/

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    padding: 1rem;
}

.header-img {
    height: 250px;
    border-radius: 60px;
}

.nav-header {
    display: flex;
    gap: 32px;
}

.nav-links {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    height: 1.5rem;
}

.shopping-cart {
    height: 1.5rem;
}

/*
=============== 
Clothes Grid
===============
*/

.clothes-container {
    width: calc(85vw - 3.5rem);
    padding: 1rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.item-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 480px;
    width: 400px;
    background-color: #e4feff;
    -webkit-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.79);
    border-radius: 8px;
    gap: 8px;
}


.price-and-material {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 400px;
    gap: 8px;
    margin-top: 16px;
    text-transform: capitalize;
}

.black-line {
    width: 400px;
    height: 1px;
    background-color: rgb(91, 91, 91);
    margin-top: 8px;
}

.clothes-img {
    height: 250px;
    width: 250px;
    background-color: rgb(255, 254, 254);
    padding: 8px;
    border-radius: 32px;
    border: 1px solid rgb(171, 171, 171);
}

.add-to-cart-container {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 20px;
}

.add-to-cart-container:hover {
    background-color: rgba(34, 236, 61, 0.43);
}

.add-to-cart-container:active {
    background-color: rgb(34, 236, 61);
}

.add-to-cart {
    height: 30px;
    width: 30px;
}

.add-to-cart:hover {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

/*
=============== 
Color Picker
===============
*/

.color-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid rgb(171, 171, 171);
    padding: 8px 20px 8px 20px;
    gap: 4px;
    background-color: rgb(255, 255, 255);
}

.color-picker-btn {
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

.color-picker-btn:hover {
    cursor: pointer;
}

/* 
===============
Cart
===============
*/

.cart {
    min-height: 66px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15vw;
    right: 50px;
    top: calc(250px + 2rem);
    text-transform: capitalize;
}

.items-and-price {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 62px;
}

.cart-item {
    display: flex;
    flex-direction: column;
}

.black-line-price {
    width: auto;
    height: 1px;
    background-color: rgb(91, 91, 91);
    margin-top: 8px;
}

.change-amount {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.change-amount>button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--myOrange);
    background-color: var(--myOrange);
    height: 26px;
    width: 26px;
}

.change-amount>button:hover {
    cursor: pointer;
    background-color: initial;
    color: var(--myOrange);
}

.change-amount>button>svg {
    height: 16px;
    width: 16px;
}

.change-amount>button path {
    stroke: white;
    fill: white;
}

.change-amount>button:hover path {
    height: 10px;
    fill: var(--myOrange);
    stroke: var(--myOrange);
}


.delete-and-undo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 72px;
}

.undo-remove {
    background: var(--myOrange);
    border: 1px solid var(--myOrange);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: capitalize;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.undo-remove:hover,
.undo-remove:active,
.change-amount>button:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--myOrange);
}

.undo-remove:active,
.change-amount>button:active {
    opacity: .5;
}