/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --border-color: rgb(171, 171, 171);
    --myOrange: rgb(213, 67, 48);
}


/*
=============== 
Global Styles
===============
*/

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    padding: 1rem;
}

.header-img {
    height: 250px;
    border-radius: 60px;
}

.nav-header {
    display: flex;
    gap: 32px;
}

.nav-links {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    height: 1.5rem;
}

.shopping-cart {
    height: 1.5rem;
}

main {
    display: flex;
    flex-direction: row;
}

/*
=============== 
Cart buttons
===============
*/

.delete-and-undo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 72px;
}

.undo-remove {
    background: var(--myOrange);
    border: 1px solid var(--myOrange);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: capitalize;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.undo-remove:hover,
.undo-remove:active,
.change-amount>button:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--myOrange);
}

.undo-remove:active,
.change-amount>button:active {
    opacity: .5;
}

/* Change Amount */

.change-amount>button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--myOrange);
    background-color: var(--myOrange);
    height: 26px;
    width: 26px;
}

.change-amount>button:hover {
    cursor: pointer;
    background-color: initial;
    color: var(--myOrange);
}

.change-amount>button>svg {
    height: 16px;
    width: 16px;
}

.change-amount>button path {
    stroke: white;
    fill: white;
}

.change-amount>button:hover path {
    height: 10px;
    fill: var(--myOrange);
    stroke: var(--myOrange);
}